.container {
  display: inline;
  position: relative;
}

.container p {
  opacity: 0;
  animation: fadeIn 0.3s forwards;
  -webkit-animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container p:nth-child(1) {
  animation-delay: 0s;
}

.container p:nth-child(2) {
  animation-delay: calc(1s/14);
}

.container p:nth-child(3) {
  animation-delay: calc(2s/14);

}

/* Continúa con el retraso para cada letra */
.container p:nth-child(4) {
  animation-delay: calc(3s/14);

}

.container p:nth-child(5) {
  animation-delay: calc(4s/14);

}

.container p:nth-child(6) {
  animation-delay: calc(5s/14);

}

.container p:nth-child(7) {
  animation-delay: calc(6s/14);

}

.container p:nth-child(8) {
  animation-delay: calc(7s/14);

}

.container p:nth-child(9) {
  animation-delay: calc(8s/14);

}

.container p:nth-child(10) {
  animation-delay: calc(9s/14);

}

.container p:nth-child(11) {
  animation-delay: calc(10s/14);

}

.container p:nth-child(12) {
  animation-delay: calc(11s/14);

}

.container p:nth-child(13) {
  animation-delay: calc(12s/14);

}

.container p:nth-child(14) {
  animation-delay: calc(13s/14);

}

.container p:nth-child(15) {
  animation-delay: calc(14s/14);
  margin-right: 2px;
}

.container::after {
  content: "";
  height: 0%;
  position: absolute;
  top: 0;
  width: 2px;
  background-color: var(--primary);
  animation: grow calc(12s / 14) infinite;
  -webkit-animation: grow calc(12s / 14) infinite;
  animation-delay: 1s;
}


@keyframes grow {
  from {
    height: 1%;
    /* Empieza en 1% */

  }

  to {

    height: 100%;
    /* Empieza en 1% */

  }
}